@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&display=swap');

header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  box-shadow: 5px 5px 5px rgb(232, 219, 31);
  position: sticky;
}

*{
  margin: 0px;
  padding: 0px;
}

.bouncy{
  background-color: greenyellow;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  z-index: 11;

}

.icon{
  z-index: 11;
  width: 50px;
  height: 50px;
}

.nav{
  z-index: 10;
  position: absolute;
  margin-top: 50px;
}

video{
  width: 1550px;
  position: relative;
  z-index: -1;
}

.list{
  color: aliceblue;
  font-size:25px;
  background-color: black;
  border-radius: 20px;
  size: 25px;}

.list{
  color: rgb(232, 219, 31);
  transition: all 0.8s;
}

.list:hover {
  background: #ffffff;
  transform: scale(8px);
  color: black;
}

a{
  color: aliceblue;
  text-decoration: none;}

#outer{
  background-color: linear;
  color: rgb(255, 255, 255);
  font-size: x-large;}

#all{
  color: rgb(232, 219, 31);
  place-items: center;
  display: grid;
  font-size:75px;}

#investigate{
  color: aliceblue;
  font-size: x-large;}

#what{
  padding: 15px;
  margin: 10px;}

#explore{
  padding:15px; 
  margin: 10px}

button:hover {
  transform: scale(1.05);}

#project{color: aquamarine;}

.fos{
  color: rgb(255, 239, 239);
  font-size: x-large;}

#exp{
  height:200px;
  border-radius: 20px;}

#jup{
  height: 250px; 
  border-radius:20px ;}

#peen{
  background-color: rgb(39,39,39);
  margin: 10px;
  border-radius:20px;
  padding: 20px;}

#jupe{
  background-color: rgb(39,39,39);
  margin: 10px;
  border-radius:20px;
  padding: 20px;}

#os{
  background-color:rgb(39,39,39);
  margin: 5px;
  border-radius:20px;
  padding: 10px;}

#black{
  height: 250px;
  border-radius: 20px;}

#spc{
  margin: 0px;
  padding: 0px;
  background-color: rgb(39,39,39);}

#explor{
  background-color: rgb(39,39,39);}

#waw{
  padding: 15px;
  margin: 10px;}

#og{color: aliceblue;}

#milk{height: 250px;
  border-radius: 20px;}


@keyframes bounce {
    0% {top: 755px;}
    50%{top:780px;}
    100%{top:755px;}

}
